.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Send it behind other content */
}

.video-container iframe {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
